<form onsubmit={{action "submitChanges"}} >
  <div class="field">
    <label>Title:</label>
    {{input type="text" placeholder="Title"  value=title}}
  </div>

  <div class="field">
    <label>ISBN:</label>
    {{input type="text" placeholder="ISBN"  value=isbn}}
  </div>

  <div class="field"> 
    <label>Date Published:</label>
    {{input type="date" placeholder="Date Published"  value=publishDate}}
  </div>

  <div class="field">
    <label>Author:</label>
    <p class="control">
      {{#power-select  onchange=(action (mut author)) selected=author search=(action "searchAuthor") as |author| }}
        {{author.last}},  {{author.first}}
      {{/power-select}}
    </p>  
  </div>

  <div class="field">
    <label>Don't See Your Author?</label>

    {{new-author-modal onsave=(action (mut author)) }}

  </div>

  <div class="form-footer">
    <button class="btn-submit" type="submit">Save</button>
  </div>      

</form>
